
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Content { 
				<div class="text-center mt-3">
								<h2 class="display-2"> <b>@ViewBag.ErrorCode</b> </h2>
								<br />
								<p>	@ViewBag.Message </p>
				</div>
}

