
@{
    ViewBag.Title = "Index";
}

@section Content{ 
    <div class="jumbotron">
        <div class="container text-center">
            <h1>AyoBeli</h1>
            <p>Pusat Perbelanjaan Daring Terbesar di Indonesia</p>
        </div>
    </div>
}