
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/Base.cshtml";
}

<div class="alert alert-success w-75 ml-auto mr-auto mt-md-4 mt-sm-2">
				<strong>Sukses!</strong> @ViewBag.CoreMessage
</div>

<div class="jumbotron w-75 ml-auto mr-auto">
			<p>@Html.Raw(@ViewBag.SupplementaryMessage)</p>			
</div>

